
body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #eef3ee;
  color: #333;
}

header {
  background: #2e7d32;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: #e8f5e9;
  border-bottom: 2px solid #c8e6c9;
}

.hero h2 {
  font-size: 28px;
  color: #2e7d32;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding-top: 30px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top h1 {
  font-size: 28px;
  color: #2e7d32;
  margin: 0;
}

h3 {
  font-size: 24px;
  color: #2e7d32;
  margin: 35px 0 15px 0; 
  font-weight: 700;
  padding: 0 10px;
}

h4 {
  font-size: 20px;
  color: #4a4a4a;
  margin: 20px 0 10px 0; 
  font-weight: 600;
  padding: 0 10px;
}

p{
    padding: 0 10px;
}

.btn-voltar {
  padding: 10px 18px;
  background: #2e7d32;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.btn-voltar:hover {
  background: #1b5e20;
}

.btn-salvar {
  width: 100%;
  padding: 14px;
  background: #2e7d32;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn-salvar:hover {
  background: #1b5e20;
  transform: scale(1.02);
}

.card-form {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px #00000022;
  margin-top: 25px;
}

form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #bbb;
  border-radius: 10px;
  font-size: 15px;
  background: #f9f9f9;
  transition: 0.2s;
}

form input:focus {
  border-color: #2e7d32;
  background: #ffffff;
}

.erro {
  color: red;
  text-align: center;
  font-weight: bold;
}

.card-lista {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px #00000022;
  margin-top: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #2e7d32;
  color: white;
  padding: 14px;
  font-size: 17px;
}

td {
  padding: 14px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background: #f4fff4;
}

tr:hover {
  background: #d8efd8;
  transition: 0.2s;
}


